In [590]:
# from google.colab import drive
# drive.mount('/gdrive')
# pathAlv = '/gdrive/My Drive/dados/Elitefitness Alverca - Aulas grupo(1-324).xlsx'
# pathRM = '/gdrive/My Drive/dados/Elitefitness Rio Maior - Aulas grupo(1-410).xlsx'

Objetivos:
1. Perceber quais são as horas com mais clientes?
2. Quais são as aulas com mais clientes?
3. Quais são os dias da semana com mais clientes?

Alterações:
1. Colocar a possibilidade de filtrar por datas

# Dados recolhidos aula de grupo Rio Maior

In [591]:
import pandas as pd
import seaborn as sns
from ipywidgets import interact, interactive, fixed, interact_manual
import plotly.offline as py
import datetime,calendar

dfAG = pd.read_excel('../dados/_RMAulasGrupo.xlsx',sheet_name='Sheet1')

## Preparação dos dados

In [592]:
dfAG.columns

Index(['ID', 'Hora de início', 'Hora de conclusão', 'E-mail', 'Nome',
       'Pontuação total', 'Feedback do questionário', 'Data', 'Pontos – Data',
       'Feedback – Data', 'Aula', 'Pontos – Aula', 'Feedback – Aula',
       'Hora aula (coloque hora:minutos ex. 09:15)',
       'Pontos – Hora aula (coloque hora:minutos ex. 09:15)',
       'Feedback – Hora aula (coloque hora:minutos ex. 09:15)',
       'Quantas pessoas aula?', 'Pontos – Quantas pessoas aula?',
       'Feedback – Quantas pessoas aula?', 'Aula2', 'Pontos – Aula2',
       'Feedback – Aula2'],
      dtype='object')

In [593]:
dfAG.tail()

,ID,Hora de início,Hora de conclusão,E-mail,Nome,Pontuação total,Feedback do questionário,Data,Pontos – Data,Feedback – Data,...,Feedback – Aula,Hora aula (coloque hora:minutos ex. 09:15),Pontos – Hora aula (coloque hora:minutos ex. 09:15),Feedback – Hora aula (coloque hora:minutos ex. 09:15),Quantas pessoas aula?,Pontos – Quantas pessoas aula?,Feedback – Quantas pessoas aula?,Aula2,Pontos – Aula2,Feedback – Aula2
642,643,2020-01-27 10:17:11,2020-01-27 10:51:59,anonymous,NaN,NaN,NaN,2020-01-27,NaN,NaN,...,NaN,9:45,NaN,NaN,9,NaN,NaN,step,NaN,NaN
643,644,2020-01-27 10:52:02,2020-01-27 10:52:24,anonymous,NaN,NaN,NaN,2020-01-27,NaN,NaN,...,NaN,10:20,NaN,NaN,7,NaN,NaN,bodypump,NaN,NaN
644,645,2020-01-27 11:30:19,2020-01-27 11:30:39,anonymous,NaN,NaN,NaN,2020-01-27,NaN,NaN,...,NaN,10:55,NaN,NaN,7,NaN,NaN,pilates,NaN,NaN
645,646,2020-01-27 07:59:12,2020-01-27 13:26:20,anonymous,NaN,NaN,NaN,2020-01-27,NaN,NaN,...,NaN,12.30,NaN,NaN,7,NaN,NaN,speeding,NaN,NaN
646,647,2020-01-27 13:26:22,2020-01-27 13:26:50,anonymous,NaN,NaN,NaN,2020-01-27,NaN,NaN,...,NaN,13.05,NaN,NaN,4,NaN,NaN,soscelulite,NaN,NaN

In [594]:
dfAG.columns

Index(['ID', 'Hora de início', 'Hora de conclusão', 'E-mail', 'Nome',
       'Pontuação total', 'Feedback do questionário', 'Data', 'Pontos – Data',
       'Feedback – Data', 'Aula', 'Pontos – Aula', 'Feedback – Aula',
       'Hora aula (coloque hora:minutos ex. 09:15)',
       'Pontos – Hora aula (coloque hora:minutos ex. 09:15)',
       'Feedback – Hora aula (coloque hora:minutos ex. 09:15)',
       'Quantas pessoas aula?', 'Pontos – Quantas pessoas aula?',
       'Feedback – Quantas pessoas aula?', 'Aula2', 'Pontos – Aula2',
       'Feedback – Aula2'],
      dtype='object')

In [595]:
cols = ['ID','E-mail', 'Nome','Pontuação total', 'Feedback do questionário', 'Pontos – Data',
        'Feedback – Data', 'Pontos – Aula', 'Feedback – Aula','Pontos – Hora aula (coloque hora:minutos ex. 09:15)',
        'Feedback – Hora aula (coloque hora:minutos ex. 09:15)', 'Pontos – Quantas pessoas aula?',
        'Feedback – Quantas pessoas aula?','Pontos – Aula2','Feedback – Aula2']
dfAG.drop(columns=cols, index=1, inplace=True)
dfAG.columns

Index(['Hora de início', 'Hora de conclusão', 'Data', 'Aula',
       'Hora aula (coloque hora:minutos ex. 09:15)', 'Quantas pessoas aula?',
       'Aula2'],
      dtype='object')

In [596]:
dfAG.columns=['horaInicio','horaConclusao','data','aula','hora','pessoas','aula2']

In [597]:
dfAG.head()

,horaInicio,horaConclusao,data,aula,hora,pessoas,aula2
0,2019-12-04 10:31:12,2019-12-04 12:10:01,2019-12-04,POPEYE,15:00,10,NaN
2,2019-12-09 09:03:23,2019-12-09 09:03:51,2019-12-09,Speeding,8:30,6,NaN
3,2019-12-09 09:44:05,2019-12-09 09:44:41,2019-12-09,Gain - Glúteo e Pernas,9:10,4,NaN
4,2019-12-09 11:33:17,2019-12-09 11:33:39,2019-12-09,Pilates,10:55,3,NaN
5,2019-12-09 11:40:10,2019-12-09 11:40:33,2019-12-09,Body Pump,10.20,3,NaN

In [598]:
dfAG.tail()

,horaInicio,horaConclusao,data,aula,hora,pessoas,aula2
642,2020-01-27 10:17:11,2020-01-27 10:51:59,2020-01-27,Step,9:45,9,step
643,2020-01-27 10:52:02,2020-01-27 10:52:24,2020-01-27,BodyPump,10:20,7,bodypump
644,2020-01-27 11:30:19,2020-01-27 11:30:39,2020-01-27,Pilates,10:55,7,pilates
645,2020-01-27 07:59:12,2020-01-27 13:26:20,2020-01-27,speedimg,12.30,7,speeding
646,2020-01-27 13:26:22,2020-01-27 13:26:50,2020-01-27,soscelulite,13.05,4,soscelulite

In [599]:
dfAG.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 646 entries, 0 to 646
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   horaInicio     646 non-null    datetime64[ns]
 1   horaConclusao  646 non-null    datetime64[ns]
 2   data           646 non-null    datetime64[ns]
 3   aula           646 non-null    object
 4   hora           646 non-null    object
 5   pessoas        646 non-null    object
 6   aula2          155 non-null    object
dtypes: datetime64[ns](3), object(4)
memory usage: 40.4+ KB

In [600]:
dfAG.fillna(0,inplace=True)

In [601]:
dfAG.hora.unique()

array(['15:00', '8:30', '9:10', '10:55', '10.20', '09:45', '12:30',
       '13:00', '15:30', '16h00', '17:00', '17:30', '17:25', '18:00',
       '17:55', '18:30', '19:00', '19h05', '19h30', '19:20', '20:15',
       '19:55', '20:30', '08:00', '08.30', '9:00', '09:35', '10:45',
       '17:45', '18:25', '18:45', '19:40', '20:00', '20:10', '19:45',
       '07:40', '18', '18:35', '09:00', '09.35', '10.10', '10:30',
       '16:00', '18:10', 'Zumba', '20:20', '10:15', '11:05', '09:40',
       '13:30', '19:10', '19:30', '18:25 ', '17:40', '19h25', '19',
       '9:35', '16:30', '19:15', '20:25', '11:00', '10', '10:35', '9:45',
       '19:05', '09:30', '10:10', '12:40', '12:30h ', '17:45h',
       'Speeding ', '20;00', '19:50', '18:20', '19:35', '11:15', '17:35',
       '09:50', '10:00', '19/00', '13', '18:15', '18/25', '18h35',
       '13:05', '10:20', '17 00', '1735', '13:15', '19:25', '07:50',
       '17/40', '7:50', '9', '11', '10.45', '17.00', '17.35', '18.00',
       '8:00', '07.40', '9.30', '17.55', '13:35', '18.30', '9.00',
       '17.45', '10.00', '10.35', '11.15', '19.20', '8.00', '18;25',
       '18:54', '19.10', '08:30', '9.35', '7.40', '20.00', '9;00',
       '18.35', '20:35', '18.20', '19.00', '12.30', '13.05'], dtype=object)

In [602]:
#Limpar dados mal inseridos
#lambda <args> : <return Value> if <condition > ( <return value > if <condition> else <return value>)
dfAG['hora']=dfAG['hora'].apply(lambda x:str(x).replace('h',':'))
dfAG['hora']=dfAG['hora'].apply(lambda x:str(x).replace('.',':'))
dfAG['hora']=dfAG['hora'].apply(lambda x: str(x)+':00' if (len(x)==1 or len(x)==2) else x)
dfAG['hora']=dfAG['hora'].apply(lambda x: str(x)+'00' if (len(x)==3) else x)
dfAG['hora']=dfAG['hora'].apply(lambda x:str(x).replace('::',':'))
dfAG['hora']=dfAG['hora'].apply(lambda x:str(x).replace('m',''))
dfAG['hora']=dfAG['hora'].apply(lambda x:str(x).replace(' ','00'))
dfAG['hora']=dfAG['hora'].apply(lambda x:str(x).replace('1000','10'))

In [603]:
dfAG.hora=pd.to_datetime(dfAG['hora'],format='%H:%M', errors='coerce')
dfAG.dropna(subset=['hora'],inplace=True)

In [604]:
dfAG.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 633 entries, 0 to 646
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   horaInicio     633 non-null    datetime64[ns]
 1   horaConclusao  633 non-null    datetime64[ns]
 2   data           633 non-null    datetime64[ns]
 3   aula           633 non-null    object
 4   hora           633 non-null    datetime64[ns]
 5   pessoas        633 non-null    object
 6   aula2          633 non-null    object
dtypes: datetime64[ns](4), object(3)
memory usage: 39.6+ KB

### Converter hora para tempo

### Calcular só hora

In [605]:
#Vamos retirar as meias horas
dfAG['hora']=dfAG['hora'].apply(lambda x: x.hour)

### Calcular o dia da semana

In [606]:
# Por extenso
#dfSEAlv['diaSemana']=dfSEAlv['data'].apply(lambda x: x.day_name(locale='pt'))
# Vamos calcular o dia da semana 0 é segunda
dfAG['diaSemana']=dfAG['data'].apply(lambda x: x.weekday())

### Tratar aulas

In [607]:
dfAG.aula.unique()

array(['POPEYE', 'Speeding', 'Gain - Glúteo e Pernas', 'Pilates',
       'Body Pump ', 'Step', 'Speeding ', 'SOS celulite ', 'Sos ABS',
       'Sos bunda', 'Sos abs', 'Body Balance', 'Sos abs ', 'Endurance',
       'BodyCombat ', 'Sos popeye', 'Zumba', 'BodyPump', 'SOS Bunda',
       'Bunda', '100 Pança ', 'Bodybalance ', 'Sos bunda ', 'Endurance ',
       'SOS Popeye', 'SOS ABS', 'Bunda ', 'Popeye', 'Body Combate ',
       'SOS Celulite', 'SOS bunda ', 'Body Combat', 'Gain',
       'Sos celulite ', '100stress ', '100 Stress', 'Gain ', 'SOS Abs',
       'Dos celulite', 'Body Pump', 'Body combat', 'sos abs', 'sos bunda',
       'SOS BUNDA', 'SOS POPEYE', 'Gain- pernas e glúteo ', 'Sos Bunda',
       '100 Stress ', 'Body Combat ', 'sos abs ', '100Stress',
       'SOS Celulite ', '100Stress ', '100stress', '100pança ',
       'Body pump', '100STRESS', 'Bodycombat', 'Pilates ',
       'SOS Speeding ', 'body combat', 'sos popeye', 'BODY PUMP',
       'SOS SPEEDING', 'GAIN', 'SPEEDING', 'ENDURANCE', 'Combat', 'Pump',
       'Sos Speeding ', 'Step ', 'speeding', 'SOS celulite', 'SPEEDING ',
       'SOS Bunda ', 'BUNDA', '100 Panca', 'BodyBalance', 'Bodypump ',
       'SOS popeye', 'endurance', 's.o.s abs ', '100 stress ',
       '100Pança ', 's.o.s abs', 'Body Balance ', 'ENDURANCE ',
       'SOS CELULITE', '-', 'SOS CELULITE ', 'B PUMP',
       'Gain- ombros e abdominal', 'sos speeding', '0', 'BodyPump ',
       '100 PANCA', 'SOS ABS ', 'pilates', '100 stress',
       'GAIN-COSTA E BICIPITE', 'gain', 'SOS bunda', 'B Pump ',
       'Sos speeding ', 'speedimg', 'soscelulite'], dtype=object)

In [608]:
#Limpar dados mal inseridos
['Sós abs', 'Sós bunda', '100 panca', 'Sos abs', 'Bodybalance','Bunda', 'Sos bunda', 'Bodypump', 'Step', 'Sós popey ',
 'Body Combat', 'Pilates', 'Endurance ', 'Sos speeding ','Sos bunda ', 'Sos abs ', 'Popeye', 'Extreme', 'Speeding',
 'Body pump', 'Endurance', 'Sos speeding', 'Speeding ','Sem stress ', '100stress', 'Gain', 'Body pump ', 'sos abs',
 'Sós bunda ', 'Sos celulite', 'Bodypump ', 'Sos popeye','Enfurance', '100Pança', 'Bodybalance ', '100 pança',
 'Body combat', 'Sos Popeye', 'Soso abs', 'Body Pump','Body balance', '100panca ', 'Sem stress', '100panca', 'Zumba',
 'Xtreme', '100 pança ', 'Sós popey', 'Bodycombat ', '100 stress ','Popey', 'Speedng', 'Sos celulite ', 'Sos ABS', '100 stress',
 'Gain ', 'Sós  abs', 'Bodupump', '(Sos abs) (com sos bunda)']
#lambda <args> : <return Value> if <condition > ( <return value > if <condition> else <return value>)
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).lower())
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace(' ',''))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('sós','sos'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('enfurance','endurance'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('sem','100'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('panca','pança'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('popey','popeye'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('popeyee','popeye'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('xtreme','extreme'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('speedng','speeding'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('popeyeee','popeye'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('eeeeextreme','extreme'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('eeeextreme','extreme'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('eextreme','extreme'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('(sosabs)(comsosbunda)','sosabs'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('sosspeeding','speeding'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('bodupump','bodypump'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('sospopeyee','sospopeye'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('bodypumpp','bodypump'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('popeye','sospopeye'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('sospopeyee','sospopeye'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('sossospopeye','sospopeye'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('sossospopeye','sospopeye'))

In [609]:
dfAG.aula.value_counts()

sosabs                   125
sosbunda                  99
speeding                  79
sospopeye                 46
endurance                 44
bodypump                  30
gain                      27
pilates                   27
100stress                 27
bodycombat                21
soscelulite               20
zumba                     19
step                      15
100pança                  12
bodybalance               10
bunda                      9
-                          5
bpump                      4
s.o.sabs                   3
combat                     2
0                          1
gain-pernaseglúteo         1
pump                       1
gain-costaebicipite        1
bodycombate                1
speedimg                   1
gain-ombroseabdominal      1
doscelulite                1
gain-glúteoepernas         1
Name: aula, dtype: int64

In [610]:
dfAG.aula.unique()

array(['sospopeye', 'speeding', 'gain-glúteoepernas', 'pilates',
       'bodypump', 'step', 'soscelulite', 'sosabs', 'sosbunda',
       'bodybalance', 'endurance', 'bodycombat', 'zumba', 'bunda',
       '100pança', 'bodycombate', 'gain', '100stress', 'doscelulite',
       'gain-pernaseglúteo', 'combat', 'pump', 's.o.sabs', '-', 'bpump',
       'gain-ombroseabdominal', '0', 'gain-costaebicipite', 'speedimg'],
      dtype=object)

In [611]:
dfAG.aula2.unique()

array([0, '100stress', 'soscelulite', 'endurance', 'speeding', 'sosabs',
       'sospopeye', 'gain', 'sosbunda', 'pilates', 'bodycombat',
       'bodypump', 'zumba', 'bodybalance', 'bunda', '100pança', 'step'],
      dtype=object)

In [612]:
for index, row in dfAG.iterrows():
    if row.aula2 != 0:
        dfAG.at[index,'aula'] = row.aula2

In [613]:
dfAG.head()

,horaInicio,horaConclusao,data,aula,hora,pessoas,aula2,diaSemana
0,2019-12-04 10:31:12,2019-12-04 12:10:01,2019-12-04,sospopeye,15,10,0,2
2,2019-12-09 09:03:23,2019-12-09 09:03:51,2019-12-09,speeding,8,6,0,0
3,2019-12-09 09:44:05,2019-12-09 09:44:41,2019-12-09,gain-glúteoepernas,9,4,0,0
4,2019-12-09 11:33:17,2019-12-09 11:33:39,2019-12-09,pilates,10,3,0,0
5,2019-12-09 11:40:10,2019-12-09 11:40:33,2019-12-09,bodypump,10,3,0,0

In [614]:
dfAG.tail()

,horaInicio,horaConclusao,data,aula,hora,pessoas,aula2,diaSemana
642,2020-01-27 10:17:11,2020-01-27 10:51:59,2020-01-27,step,9,9,step,0
643,2020-01-27 10:52:02,2020-01-27 10:52:24,2020-01-27,bodypump,10,7,bodypump,0
644,2020-01-27 11:30:19,2020-01-27 11:30:39,2020-01-27,pilates,10,7,pilates,0
645,2020-01-27 07:59:12,2020-01-27 13:26:20,2020-01-27,speeding,12,7,speeding,0
646,2020-01-27 13:26:22,2020-01-27 13:26:50,2020-01-27,soscelulite,13,4,soscelulite,0

In [615]:
dfAG.aula.unique()

array(['sospopeye', 'speeding', 'gain-glúteoepernas', 'pilates',
       'bodypump', 'step', 'soscelulite', 'sosabs', 'sosbunda',
       'bodybalance', 'endurance', 'bodycombat', 'zumba', 'bunda',
       '100pança', 'bodycombate', 'gain', '100stress', 'doscelulite',
       'gain-pernaseglúteo', 'combat', 'pump', 's.o.sabs'], dtype=object)

In [616]:
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('s.o.sabs','sosabs'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('gain-pernaseglúteo','gain-glúteoepernas'))

In [617]:
dfAG.aula.unique()

array(['sospopeye', 'speeding', 'gain-glúteoepernas', 'pilates',
       'bodypump', 'step', 'soscelulite', 'sosabs', 'sosbunda',
       'bodybalance', 'endurance', 'bodycombat', 'zumba', 'bunda',
       '100pança', 'bodycombate', 'gain', '100stress', 'doscelulite',
       'combat', 'pump'], dtype=object)

In [618]:
dfAG.aula.value_counts()

sosabs                136
sosbunda               97
speeding               78
sospopeye              47
endurance              45
bodypump               34
gain                   29
100stress              27
pilates                27
bodycombat             21
soscelulite            20
zumba                  19
step                   15
100pança               12
bodybalance            10
bunda                   9
combat                  2
gain-glúteoepernas      2
doscelulite             1
pump                    1
bodycombate             1
Name: aula, dtype: int64

In [619]:
# Vamos agregar aulas
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('bodycombate','bodycombat'))
dfAG['aula']=dfAG['aula'].apply(lambda x:str(x).replace('doscelulite','soscelulite'))

In [620]:
dfAG.aula=dfAG.aula.loc[dfAG.aula != 'pump']
dfAG.aula=dfAG.aula.loc[dfAG.aula != 'combat']
dfAG.aula=dfAG.aula.loc[dfAG.aula != 'bunda']
dfAG.aula=dfAG.aula.loc[dfAG.aula != 'gain-glúteoepernas']

## Analise inicial

In [621]:
print('Data inicio: ',dfAG.data.min(),'Data fim:',dfAG.data.max())

Data inicio:  2019-12-04 00:00:00 Data fim: 2020-01-29 00:00:00

Os dados são referentes ao período entre data inicio e data fim. Vamos confirmar algums dados

In [622]:
#Vamos calcular totais e ordenar por hora
dfAG.hora.value_counts().sort_index()

7      13
8      14
9      61
10     78
11     20
12     17
13     24
15     23
16     13
17     50
18    116
19    126
20     78
Name: hora, dtype: int64

In [623]:
cols = ['aula','pessoas']

### pessoas por hora

In [624]:
dfAG.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 633 entries, 0 to 646
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   horaInicio     633 non-null    datetime64[ns]
 1   horaConclusao  633 non-null    datetime64[ns]
 2   data           633 non-null    datetime64[ns]
 3   aula           619 non-null    object
 4   hora           633 non-null    int64
 5   pessoas        633 non-null    object
 6   aula2          633 non-null    object
 7   diaSemana      633 non-null    int64
dtypes: datetime64[ns](3), int64(2), object(3)
memory usage: 64.5+ KB

In [625]:
dfAG.pessoas.unique()

array(['10', '6', '4', '3', '8', '11', '0', '14', '7', '5', '16', '18',
       '25', '13', '17', '1', '9', '20', '12', '2', '21', '15', '23',
       '24', '32', '22', '30', '28', '27', '37', '29', '26', '19', 'G5',
       'Endurance ', '35', '33'], dtype=object)

In [626]:
dfAG.pessoas=pd.to_numeric(dfAG['pessoas'], errors='coerce',downcast='integer')
#pd.to_numeric(dfAG['pessoas'], errors='coerce')
#dfAG.dropna(subset=['pessoas'],inplace=True)

In [628]:
dfAG.groupby('hora').agg({'pessoas':['count','sum','mean','median','std','min','max']})

     pessoas
       count     sum       mean median       std  min   max
hora
7         13    60.0   4.615385    4.0  3.594868  0.0  12.0
8         14   105.0   7.500000    7.5  2.210117  4.0  12.0
9         61   451.0   7.393443    7.0  3.023677  3.0  15.0
10        78   693.0   8.884615    7.5  5.460557  0.0  23.0
11        20   253.0  12.650000   11.5  6.643358  5.0  32.0
12        17    89.0   5.235294    5.0  2.795743  0.0   9.0
13        23   126.0   5.478261    6.0  2.694600  0.0  10.0
15        23   139.0   6.043478    5.0  3.723125  2.0  17.0
16        13    61.0   4.692308    5.0  2.358835  0.0   8.0
17        50   468.0   9.360000    9.0  4.758494  1.0  25.0
18       116  1448.0  12.482759   11.0  7.693569  0.0  35.0
19       125  1633.0  13.064000   10.0  7.577284  3.0  37.0
20        78   675.0   8.653846    8.5  4.676070  1.0  21.0

In [629]:
dfAG.groupby('aula').agg({'pessoas':['count','sum','mean','median','std','min','max']})

            pessoas
              count    sum       mean median       std  min   max
aula
100pança         12   93.0   7.750000    8.0  3.194455  1.0  12.0
100stress        27  264.0   9.777778    9.0  4.457779  4.0  18.0
bodybalance      10   91.0   9.100000    8.5  2.846050  5.0  14.0
bodycombat       22  261.0  11.863636   11.0  8.078752  3.0  37.0
bodypump         34  447.0  13.147059   13.5  6.243214  3.0  25.0
endurance        44  690.0  15.681818   16.0  7.718214  2.0  32.0
gain             29  322.0  11.103448   11.0  5.734263  2.0  22.0
pilates          27  325.0  12.037037   11.0  6.566122  3.0  28.0
sosabs          136  936.0   6.882353    7.0  3.957288  0.0  21.0
sosbunda         97  532.0   5.484536    5.0  2.806664  0.0  12.0
soscelulite      20  135.0   6.750000    7.0  2.917732  1.0  13.0
sospopeye        47  446.0   9.489362    8.0  5.717526  1.0  24.0
speeding         78  904.0  11.589744   10.0  6.020389  1.0  32.0
step             15  177.0  11.800000   10.0  5.267149  3.0  21.0
zumba            19  412.0  21.684211   23.0  8.028094  6.0  35.0

### Pessoas alguns indicadores por dia semana

0 é segunda-feira 6 é domingo https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.weekday.html

In [630]:
dfAG.groupby('diaSemana').agg({'pessoas':['count','sum','mean','median','std','min','max']})

          pessoas
            count     sum       mean median       std  min   max
diaSemana
0             142  1441.0  10.147887    8.0  7.518249  0.0  37.0
1              99   964.0   9.737374    9.0  4.799205  0.0  24.0
2             103  1057.0  10.262136    9.0  6.390804  1.0  32.0
3             130  1109.0   8.530769    7.0  5.750886  0.0  28.0
4             104  1025.0   9.855769    8.0  6.642637  0.0  32.0
5              32   368.0  11.500000   10.5  8.163649  0.0  32.0
6              21   237.0  11.285714   12.0  4.185007  3.0  18.0

In [578]:
cor = ['Accent', 'Accent_r', 'Blues', 'Blues_r', 'BrBG', 'BrBG_r', 'BuGn', 'BuGn_r', 'BuPu', 'BuPu_r', 'CMRmap', 
       'CMRmap_r', 'Dark2', 'Dark2_r', 'GnBu', 'GnBu_r', 'Greens', 'Greens_r', 'Greys', 'Greys_r', 'OrRd', 'OrRd_r', 
       'Oranges', 'Oranges_r', 'PRGn', 'PRGn_r', 'Paired', 'Paired_r', 'Pastel1', 'Pastel1_r', 'Pastel2', 'Pastel2_r', 
       'PiYG', 'PiYG_r', 'PuBu', 'PuBuGn', 'PuBuGn_r', 'PuBu_r', 'PuOr', 'PuOr_r', 'PuRd', 'PuRd_r', 'Purples', 'Purples_r', 
       'RdBu', 'RdBu_r', 'RdGy', 'RdGy_r', 'RdPu', 'RdPu_r', 'RdYlBu', 'RdYlBu_r', 'RdYlGn', 'RdYlGn_r', 'Reds', 'Reds_r', 
       'Set1', 'Set1_r', 'Set2', 'Set2_r', 'Set3', 'Set3_r', 'Spectral', 'Spectral_r', 'Wistia', 'Wistia_r', 'YlGn', 'YlGnBu', 
       'YlGnBu_r', 'YlGn_r', 'YlOrBr', 'YlOrBr_r', 'YlOrRd', 'YlOrRd_r', 'afmhot', 'afmhot_r', 'autumn', 'autumn_r', 'binary', 
       'binary_r', 'bone', 'bone_r', 'brg', 'brg_r', 'bwr', 'bwr_r', 'cividis', 'cividis_r', 'cool', 'cool_r', 'coolwarm', 
       'coolwarm_r', 'copper', 'copper_r', 'cubehelix', 'cubehelix_r', 'flag', 'flag_r', 'gist_earth', 'gist_earth_r', 
       'gist_gray', 'gist_gray_r', 'gist_heat', 'gist_heat_r', 'gist_ncar', 'gist_ncar_r', 'gist_rainbow', 'gist_rainbow_r', 
       'gist_stern', 'gist_stern_r', 'gist_yarg', 'gist_yarg_r', 'gnuplot', 'gnuplot2', 'gnuplot2_r', 'gnuplot_r', 'gray', 
       'gray_r', 'hot', 'hot_r', 'hsv', 'hsv_r', 'icefire', 'icefire_r', 'inferno', 'inferno_r', 'jet', 'jet_r', 'magma', 'magma_r', 
       'mako', 'mako_r', 'nipy_spectral', 'nipy_spectral_r', 'ocean', 'ocean_r', 'pink', 'pink_r', 'plasma', 'plasma_r', 'prism', 'prism_r', 
       'rainbow', 'rainbow_r', 'rocket', 'rocket_r', 'seismic', 'seismic_r', 'spring', 'spring_r', 'summer', 'summer_r', 'tab10', 'tab10_r', 
       'tab20', 'tab20_r', 'tab20b', 'tab20b_r', 'tab20c', 'tab20c_r', 'terrain', 'terrain_r', 'twilight', 'twilight_r', 'twilight_shifted', 
       'twilight_shifted_r', 'viridis', 'viridis_r', 'vlag', 'vlag_r', 'winter', 'winter_r']

In [670]:
funcao = [('soma',np.sum),('media',np.mean),('mediana',np.median), ('máx',np.max) ,('min',np.min)]
todasAulas = ['sospopeye', 'speeding', 'pilates', 'bodypump', 'step','soscelulite', 'sosabs', 'sosbunda', 
              'bodybalance', 'endurance','bodycombat', 'zumba', '100pança', 'gain', '100stress']
cardio = ['speeding','endurance','bodycombat','zumba', '100stress','step']
forca = ['sospopeye','popeye','sosabs','sosbunda','gain','bodypump','soscelulite','100pança','bunda']
relaxamento = ['bodybalance','yoga','pilates']

opcoes = [('cardio',cardio),('forca',forca),('relaxamento',relaxamento),('todas',todasAulas)]

## Número de clientes por hora

A barra preta representa o intervalo de confiança com 95%, i.e. o número de clientes tem uma estimativa limite minimo e máximo por hora de acordo com o registos nessa hora

In [632]:
def f(funcao):
    plt.rcParams['figure.figsize'] = [15, 3]
    sns.barplot(x='hora',y='pessoas',data=dfAG,palette='rainbow',estimator=funcao).set_title('Aulas de Grupo Rio Maior')
    plt.xticks(rotation=0);
    fig = plt.gcf() # "Get current figure"
    plt.show()

interact(f, funcao=funcao);

interactive(children=(Dropdown(description='funcao', options=(('soma', <function sum at 0x000002183E19BB70>), …

## Clientes por dia semana

In [633]:
def f(funcao):
    plt.rcParams['figure.figsize'] = [15, 3]
    sns.barplot(x='diaSemana',y='pessoas',data=dfAG,palette='rainbow',estimator=funcao).set_title('Aulas de Grupo - Rio Maior')
    plt.xticks(np.arange(7),('seg','ter','qua','qui','sex','sab','dom'))
    fig = plt.gcf() # "Get current figure"
    plt.show()

interact(f, funcao=funcao);

interactive(children=(Dropdown(description='funcao', options=(('soma', <function sum at 0x000002183E19BB70>), …

## Clientes por hora

In [634]:
def f(funcao):
    plt.rcParams['figure.figsize'] = [15, 3]
    sns.barplot(x='hora',y='pessoas',data=dfAG,palette='rainbow',estimator=funcao).set_title('Aulas Grupo Rio Maior')
    fig = plt.gcf() # "Get current figure"
    plt.show()

interact(f, funcao=funcao);

interactive(children=(Dropdown(description='funcao', options=(('soma', <function sum at 0x000002183E19BB70>), …

## Clientes por hora e aula

In [684]:
def f(cor,funcao,tipo):
    plt.rcParams['figure.figsize'] = [15, 6]
    sns.lineplot(x='hora',y='pessoas',hue='aula',data=dfAG.loc[dfAG['aula'].isin(tipo)],palette=cor,
                 estimator=funcao,ci=0).set_title('Aulas Grupo RM - '+str(tipo));
    fig = plt.gcf() # "Get current figure"
    plt.show()

interact(f,cor=cor,funcao=funcao,tipo=opcoes);

interactive(children=(Dropdown(description='cor', options=('Accent', 'Accent_r', 'Blues', 'Blues_r', 'BrBG', '…

In [685]:
def f(aula,funcao):
    plt.rcParams['figure.figsize'] = [15, 4]
    sns.barplot(x='hora',y='pessoas',hue='aula',data=dfAG[dfAG.aula==aula],palette='rainbow',
                 estimator=funcao,ci=0).set_title('Sala de exercicio RM');
    
    fig = plt.gcf() # "Get current figure"
    plt.show()

interact(f, aula=dfAG.aula.unique(),funcao=funcao);

interactive(children=(Dropdown(description='aula', options=('sospopeye', 'speeding', nan, 'pilates', 'bodypump…

### Quais são as aulas com mais alunos por dia da semana?

In [686]:
def f(funcao,tipo):
    plt.rcParams['figure.figsize'] = [20, 5]
    plt.xticks(rotation=45);
    sns.barplot(x='aula',y='pessoas',hue='diaSemana',data=dfAG.loc[dfAG['aula'].isin(tipo)],palette='Accent',estimator=funcao).set_title('Sala exercício RM')
    fig = plt.gcf() # "Get current figure"
    plt.show()

interact(f,funcao=funcao,tipo=opcoes);

interactive(children=(Dropdown(description='funcao', options=(('soma', <function sum at 0x000002183E19BB70>), …